<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <LINK REL=StyleSheet HREF="Site.css" TYPE="text/css" MEDIA=screen>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Key Technology</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <br />

</head>
<body>

    <style>
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }

        a.my-class {
            letter-spacing: 2px;
        }

        a.my-class {
            padding: 10px;
        }
    </style>
    <ul id="lista1">


        <li>@Html.ActionLink("Cliente ", "Cliente", null, new { @class = "my-class" })</li> |
        <li>@Html.ActionLink("Producto", "Producto", null, new { @class = "my-class" })</li> |
        <li>@Html.ActionLink("Venta ", "Producto", null, new { @class = "my-class" })</li> | 
        <li>@Html.ActionLink("Categoria ", "Producto", null, new { @class = "my-class" })</li> |
        <li>@Html.ActionLink("Modo de pago ", "ModoDePago", null, new { @class = "my-class" })</li> |


        <li>@Html.ActionLink("Proveedor ", "Proveedor", null, new { @class = "my-class" })</li> |
        <li>@Html.ActionLink("Factura ", "Producto", null, new { @class = "my-class" })</li> |
    </ul>



    @*Imagen con el logo*@
    <img src="~/Content/logo.png" id="logo" />
    @*Imagen con el escudo*@
    <img src="~/Content/escudo.png" id="escudo" />
    @*Barra de busqueda*@
    <input type="text" class="form-control" id="buscar" placeholder="Buscar">

    @*estilo elementos de navegacion debajo de la barra de busqueda*@
    <style type="text/css">
        ul {
            list-style-type: none
        }

            ul li {
                display: inline;
                padding: 10px;
            }
    </style>


    @*elementos debajo de la barra de busqueda*@
    <ul class="navlist">
        <li>@Html.ActionLink("Inicio ", "Index")</li> |
        <li>Mapa de Sitio </li>|
        <li>Contacto</li>
    </ul>




    @RenderBody()

    <center>
        <footer>
            <br /><br />
            <center><img id="foot" src="~/Content/foot.png" /></center>
            <h5 id="h4">KEY TECHNOLOGY</h5>
            <h5 id="h4">Autopista Las Américas, Km. 27, PCSD, La Caleta, Boca Chica 11606.</h5>
            <h5 id="h4"> 809-777-4444   | info@keytechnonlogy.edu.do</h5>
            <h5 id="h4">TÉRMINOS DE USO | POLÍTICAS DE PRIVACIDAD | PREGUNTAS FRECUENTES</h5>
            <center>  © 2020 TODOS LOS DERECHOS RESERVADOS</center>

            <img id="norttic" src="~/Content/norttic.png" />

        </footer>
    </center>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
